$briks-css-variables-enabled:           true;
$briks-css-variables-prefix:            'goafe-';
$briks-unit:                            'px';
$briks-components-prefix:               'c-';
$briks-modifiers-prefix:                'm-';
$briks-utilities-prefix:                'u-';
$briks-responsive-prefix:               '--';
$briks-luminance-method:                3;
$briks-luminance-threshold:             0.5;
$briks-colors: (
    // primary-100: #,
    primary-200: #2C666B,
    primary-300: #407A7F,
    primary-400: #0F9287,
    primary-500: #23A69B,
    // primary-600: #,
    // primary-700: #,
    // primary-800: #,
    // primary-900: #,

    // primary-translucid-100: #,
    primary-translucid-200: #2C666B4D,
    primary-translucid-300: #407A7F4D,
    primary-translucid-400: #0F92874D,
    primary-translucid-500: #23A69B4D,
    // primary-translucid-600: #,
    // primary-translucid-700: #,
    // primary-translucid-800: #,
    // primary-translucid-900: #,

    // secondary-100: #,
    // secondary-200: #,
    // secondary-300: #,
    secondary-400: #A1CAD0,
    secondary-500: #A2F3FF,
    // secondary-600: #,
    // secondary-700: #,
    // secondary-800: #,
    // secondary-900: #,

    // tertiary-100: #,
    // tertiary-200: #,
    // tertiary-300: #,
    // tertiary-400: #,
    tertiary-500: #F8D548,
    // tertiary-600: #,
    // tertiary-700: #,
    // tertiary-800: #,
    // tertiary-900: #,

    // quaternary-100: #,
    // quaternary-200: #,
    // quaternary-300: #,
    // quaternary-400: #,
    quaternary-500: #7338F1,
    // quaternary-600: #,
    // quaternary-700: #,
    quaternary-800: #FF9FFB,
    // quaternary-900: #,

    neutral-100: #000000,
    neutral-200: #1E1E1E,
    // neutral-300: #,
    neutral-400: #434346,
    neutral-500: #6B6C72,
    neutral-600: #B2B3B8,
    neutral-700: #EDEDED,
    neutral-800: #F9F9F9,
    neutral-900: #FFFFFF,

    // support-success-100: #,
    // support-success-200: #,
    // support-success-300: #,
    // support-success-400: #,
    support-success-500: #4CBB72,
    support-success-600: #64F194,
    // support-success-700: #,
    // support-success-800: #,
    // support-success-900: #,

    // support-warning-100: #,
    // support-warning-200: #,
    // support-warning-300: #,
    // support-warning-400: #,
    support-warning-500: #F39D1A,
    support-warning-600: #F2B062,
    // support-warning-700: #,
    // support-warning-800: #,
    // support-warning-900: #,

    // support-danger-100: #,
    // support-danger-200: #,
    // support-danger-300: #,
    // support-danger-400: #,
    support-danger-500: #DF3528,
    support-danger-600: #F25961,
    // support-danger-700: #,
    // support-danger-800: #,
    // support-danger-900: #,
);
$briks-screen-sizes: (
    xs: 0,
    sm: 608,
    md: 896,
    lg: 1288,
    xl: 1576
);
$briks-fonts: (
    lead-800: (
        type:        'local',
        filename:    'subset-Sora-ExtraBold',
        name:        'Sora-ExtraBold',
        weight:      800,
        path:        '../fonts/Sora/',
        fallback:    'sans-serif'
    ),
    lead-700: (
        type:        'local',
        filename:    'subset-Sora-Bold',
        name:        'Sora-Bold',
        weight:      700,
        path:        '../fonts/Sora/',
        fallback:    'sans-serif'
    ),
    lead-500: (
        type:        'local',
        filename:    'subset-Sora-Medium',
        name:        'Sora-Medium',
        weight:      500,
        path:        '../fonts/Sora/',
        fallback:    'sans-serif'
    ),
    lead-400: (
        type:        'local',
        filename:    'subset-Sora-Regular',
        name:        'Sora-Regular',
        weight:      400,
        path:        '../fonts/Sora/',
        fallback:    'sans-serif'
    )
);
@import 'briks/engine/boot';
$briks-font-sizes: (
    15: 60,
    14: 54,
    13: 48,
    12: 42,
    11: 36,
    10: 32,
    9: 28,
    8: 24,
    7: 20,
    6: 18,
    5: 16,
    4: 14,
    3: 12,
    2: 10,
    1: 8
);
$briks-typography: ();
$briks-spacings: (
    14: 112,
    13: 96,
    12: 80,
    11: 64,
    10: 56,
    9: 48,
    8: 40,
    7: 32,
    6: 24,
    5: 20,
    4: 16,
    3: 12,
    2: 8,
    1: 4,
    0: 0,
);
$briks-borders: (
    none: none,
    thin-primary-200: 1px solid my-color(primary-200),
    thin-primary-300: 1px solid my-color(primary-300),
    thin-primary-400: 1px solid my-color(primary-400),
    thin-primary-500: 1px solid my-color(primary-500),
    thin-secondary-400: 1px solid my-color(secondary-400),
    thin-secondary-500: 1px solid my-color(secondary-500),
    thin-tertiary-500: 1px solid my-color(tertiary-500),
    thin-quaternary-500: 1px solid my-color(quaternary-500),
    thin-quaternary-800: 1px solid my-color(quaternary-800),
    thin-neutral-100: 1px solid my-color(neutral-100),
    thin-neutral-200: 1px solid my-color(neutral-200),
    thin-neutral-400: 1px solid my-color(neutral-400),
    thin-neutral-500: 1px solid my-color(neutral-500),
    thin-neutral-600: 1px solid my-color(neutral-600),
    thin-neutral-700: 1px solid my-color(neutral-700),
    thin-neutral-800: 1px solid my-color(neutral-800),
    thin-neutral-900: 1px solid my-color(neutral-900),
    thin-support-success-500: 1px solid my-color(support-success-500),
    thin-support-success-600: 1px solid my-color(support-success-600),
    thin-support-warning-500: 1px solid my-color(support-warning-500),
    thin-support-warning-600: 1px solid my-color(support-warning-600),
    thin-support-danger-500: 1px solid my-color(support-danger-500),
    thin-support-danger-600: 1px solid my-color(support-danger-600),
    medium-primary-200: 2px solid my-color(primary-200),
    medium-primary-300: 2px solid my-color(primary-300),
    medium-primary-400: 2px solid my-color(primary-400),
    medium-primary-500: 2px solid my-color(primary-500),
    medium-secondary-400: 2px solid my-color(secondary-400),
    medium-secondary-500: 2px solid my-color(secondary-500),
    medium-tertiary-500: 2px solid my-color(tertiary-500),
    medium-quaternary-500: 2px solid my-color(quaternary-500),
    medium-quaternary-800: 2px solid my-color(quaternary-800),
    medium-neutral-100: 2px solid my-color(neutral-100),
    medium-neutral-200: 2px solid my-color(neutral-200),
    medium-neutral-400: 2px solid my-color(neutral-400),
    medium-neutral-500: 2px solid my-color(neutral-500),
    medium-neutral-600: 2px solid my-color(neutral-600),
    medium-neutral-700: 2px solid my-color(neutral-700),
    medium-neutral-800: 2px solid my-color(neutral-800),
    medium-neutral-900: 2px solid my-color(neutral-900),
    medium-support-success-500: 2px solid my-color(support-success-500),
    medium-support-success-600: 2px solid my-color(support-success-600),
    medium-support-warning-500: 2px solid my-color(support-warning-500),
    medium-support-warning-600: 2px solid my-color(support-warning-600),
    medium-support-danger-500: 2px solid my-color(support-danger-500),
    medium-support-danger-600: 2px solid my-color(support-danger-600),
);
$briks-border-radius: (
    0: 0,
    1: 8,
    2: 16,
    3: 24
);
$briks-shadows: (
    44: 0px 16px 32px rgba(0, 0, 0, 0.2),
    43: 0px 8px 16px rgba(0, 0, 0, 0.2),
    42: 0px 4px 8px rgba(0, 0, 0, 0.2),
    41: 0px 2px 4px rgba(0, 0, 0, 0.2),

    34: 0px 0px 32px rgba(0, 0, 0, 0.2),
    33: 0px 0px 16px rgba(0, 0, 0, 0.2),
    32: 0px 0px 8px rgba(0, 0, 0, 0.2),
    31: 0px 0px 4px rgba(0, 0, 0, 0.2),

    24: 0px 16px 32px rgba(0, 0, 0, 0.1),
    23: 0px 8px 16px rgba(0, 0, 0, 0.1),
    22: 0px 4px 8px rgba(0, 0, 0, 0.1),
    21: 0px 2px 4px rgba(0, 0, 0, 0.1),

    14: 0px 0px 32px rgba(0, 0, 0, 0.1),
    13: 0px 0px 16px rgba(0, 0, 0, 0.1),
    12: 0px 0px 8px rgba(0, 0, 0, 0.1),
    11: 0px 0px 4px rgba(0, 0, 0, 0.1)
);
$briks-keyframes: ();
$briks-backgrounds: ();
$briks-utilities: ();
$briks-components-generic: ();