// SCREEN SIZES
@each $screen-size, $value in $briks-screen-sizes {
    $index: index(map-keys($briks-screen-sizes), $screen-size);
    $newmap: (
        $index: $value
    );
    $briks-screens: map-merge($briks-screens, $newmap);
}

