/*
    INITIALIZATIONS
*/
$briks-screens: ();
// $briks-screen-names: ();
// $briks-font-families: ();

/*
    Precomputed linear color channel values, for use in contrast calculations.
    See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
    Algorithm, for c in 0 to 255:
    f(c) {
      c = c / 255;
      return c < 0.03928 ? c / 12.92 : Math.pow((c + 0.055) / 1.055, 2.4);
    }
    This lookup table is needed since there is no `pow` in SASS.
*/
$linear-channel-values: 0 0.0003035269835488375 0.000607053967097675 0.0009105809506465125 0.00121410793419535 0.0015176349177441874 0.001821161901293025 0.0021246888848418626 0.0024282158683907 0.0027317428519395373 0.003035269835488375 0.003346535763899161 0.003676507324047436 0.004024717018496307 0.004391442037410293 0.004776953480693729 0.005181516702338386 0.005605391624202723 0.006048833022857054 0.006512090792594475 0.006995410187265387 0.007499032043226175 0.008023192985384994 0.008568125618069307 0.009134058702220787 0.00972121732023785 0.010329823029626936 0.010960094006488246 0.011612245179743885 0.012286488356915872 0.012983032342173012 0.013702083047289686 0.014443843596092545 0.01520851442291271 0.01599629336550963 0.016807375752887384 0.017641954488384078 0.018500220128379697 0.019382360956935723 0.0202885630566524 0.021219010376003555 0.022173884793387385 0.02315336617811041 0.024157632448504756 0.02518685962736163 0.026241221894849898 0.027320891639074894 0.028426039504420793 0.0295568344378088 0.030713443732993635 0.03189603307301153 0.033104766570885055 0.03433980680868217 0.03560131487502034 0.03688945040110004 0.0382043715953465 0.03954623527673284 0.04091519690685319 0.042311410620809675 0.043735029256973465 0.04518620438567554 0.046665086336880095 0.04817182422688942 0.04970656598412723 0.05126945837404324 0.052860647023180246 0.05448027644244237 0.05612849004960009 0.05780543019106723 0.0595112381629812 0.06124605423161761 0.06301001765316767 0.06480326669290577 0.06662593864377289 0.06847816984440017 0.07036009569659588 0.07227185068231748 0.07421356838014963 0.07618538148130785 0.07818742180518633 0.08021982031446832 0.0822827071298148 0.08437621154414882 0.08650046203654976 0.08865558628577294 0.09084171118340768 0.09305896284668745 0.0953074666309647 0.09758734714186246 0.09989872824711389 0.10224173308810132 0.10461648409110419 0.10702310297826761 0.10946171077829933 0.1119324278369056 0.11443537382697373 0.11697066775851084 0.11953842798834562 0.12213877222960187 0.12477181756095049 0.12743768043564743 0.1301364766903643 0.13286832155381798 0.13563332965520566 0.13843161503245183 0.14126329114027164 0.14412847085805777 0.14702726649759498 0.14995978981060856 0.15292615199615017 0.1559264637078274 0.1589608350608804 0.162029375639111 0.1651321945016676 0.16826940018969075 0.1714411007328226 0.17464740365558504 0.17788841598362912 0.18116424424986022 0.184474994500441 0.18782077230067787 0.19120168274079138 0.1946178304415758 0.19806931955994886 0.20155625379439707 0.20507873639031693 0.20863687014525575 0.21223075741405523 0.21586050011389926 0.2195261997292692 0.2232279573168085 0.22696587351009836 0.23074004852434915 0.23455058216100522 0.238397573812271 0.24228112246555486 0.24620132670783548 0.25015828472995344 0.25415209433082675 0.2581828529215958 0.26225065752969623 0.26635560480286247 0.2704977910130658 0.27467731206038465 0.2788942634768104 0.2831487404299921 0.2874408377269175 0.29177064981753587 0.2961382707983211 0.3005437944157765 0.3049873140698863 0.30946892281750854 0.31398871337571754 0.31854677812509186 0.32314320911295075 0.3277780980565422 0.33245153634617935 0.33716361504833037 0.3419144249086609 0.3467040563550296 0.35153259950043936 0.3564001441459435 0.3613067797835095 0.3662525955988395 0.3712376804741491 0.3762621229909065 0.38132601143253014 0.386429433787049 0.39157247774972326 0.39675523072562685 0.4019777798321958 0.4072402119017367 0.41254261348390375 0.4178850708481375 0.4232676699860717 0.4286904966139066 0.43415363617474895 0.4396571738409188 0.44520119451622786 0.45078578283822346 0.45641102318040466 0.4620769996544071 0.467783796112159 0.47353149614800955 0.4793201831008268 0.4851499400560704 0.4910208498478356 0.4969329950608704 0.5028864580325687 0.5088813208549338 0.5149176653765214 0.5209955732043543 0.5271151257058131 0.5332764040105052 0.5394794890121072 0.5457244613701866 0.5520114015120001 0.5583403896342679 0.5647115057049292 0.5711248294648731 0.5775804404296506 0.5840784178911641 0.5906188409193369 0.5972017883637634 0.6038273388553378 0.6104955708078648 0.6172065624196511 0.6239603916750761 0.6307571363461468 0.6375968739940326 0.6444796819705821 0.6514056374198242 0.6583748172794485 0.665387298282272 0.6724431569576875 0.6795424696330938 0.6866853124353135 0.6938717612919899 0.7011018919329731 0.7083757798916868 0.7156935005064807 0.7230551289219693 0.7304607400903537 0.7379104087727308 0.7454042095403874 0.7529422167760779 0.7605245046752924 0.768151147247507 0.7758222183174236 0.7835377915261935 0.7912979403326302 0.799102738014409 0.8069522576692516 0.8148465722161012 0.8227857543962835 0.8307698767746546 0.83879901174074 0.846873231509858 0.8549926081242338 0.8631572134541023 0.8713671191987972 0.8796223968878317 0.8879231178819663 0.8962693533742664 0.9046611743911496 0.9130986517934192 0.9215818562772946 0.9301108583754237 0.938685728457888 0.9473065367331999 0.9559733532492861 0.9646862478944651 0.9734452903984125 0.9822505503331171 0.9911020971138298 1;

$briks-luminance-method-helper: (
    1: 'Weighted Euclidean Distance in 3D RGB Space <a href=\'http://alienryderflex.com/hsp.html\' target=\'_blank\'>http://alienryderflex.com/hsp.html</a>',
    2: 'Web Content Accessibility Guidelines (WCAG) 2.0 <a href=\'https://www.w3.org/TR/WCAG20/\' target=\'_blank\'>https://www.w3.org/TR/WCAG20/</a>',
    3: 'Luma sRGB <a href=\'https://en.wikipedia.org/wiki/Rec._709\' target=\'_blank\'>https://en.wikipedia.org/wiki/Rec._709</a>'
);
$briks-scope: (
    briks_specific: (
        selector: true,
        pseudo-classes: true,
        pseudo-elements: true
    ),
    dis: (
        align-items: true,
        backface-visibility: true,
        display: true,
        justify-content: true,
        flex: true,
        flex-basis: true,
        flex-direction: true,
        flex-flow: true,
        flex-grow: true,
        flex-shrink: true,
        flex-wrap: true,
        flex-direction: true,
        gap: true,
        grid-gap: true,
        grid: true,
        grid-area: true,
        grid-auto-columns: true,
        grid-auto-flow: true,
        grid-auto-rows: true,
        grid-column: true,
        grid-column-end: true,
        grid-column-start: true,
        grid-row: true,
        grid-row-end: true,
        grid-row-start: true,
        grid-template: true,
        grid-template-areas: true,
        grid-template-columns: true,
        grid-template-rows: true,
        flex: true,
        flex-basis: true,
        flex-direction: true,
        flex-flow: true,
        flex-grow: true,
        flex-shrink: true,
        flex-wrap: true,
        float: true,
        gap: true,
        row-gap: true,
        place-content: true,
        place-items: true,
        place-self: true,
        table-layout: true,
        visibility: true,
        --ita-gap: true,
        -webkit-box-orient: true,
        -webkit-line-clamp: true,
    ),
    dim: (
        align-self: true,
        aspect-ratio: true,
        flex-grow: true,
        height: true,
        justify-self: true,
        margin: true,
        margin-block: true,
        margin-block-end: true,
        margin-block-start: true,
        margin-bottom: true,
        margin-inline: true,
        margin-inline-end: true,
        margin-inline-start: true,
        margin-left: true,
        margin-right: true,
        margin-top: true,
        margin-top: true,
        max-block-size: true,
        max-height: true,
        max-inline-size: true,
        max-width: true,
        min-block-size: true,
        min-height: true,
        min-inline-size: true,
        min-width: true,
        object-fit: true,
        object-position: true,
        order: true,
        overflow: true,
        overflow-anchor: true,
        overflow-block: true,
        overflow-clip-margin: true,
        overflow-inline: true,
        overflow-wrap: true,
        overflow-x: true,
        overflow-y: true,
        overscroll-behavior: true,
        overscroll-behavior-block: true,
        overscroll-behavior-inline: true,
        overscroll-behavior-x: true,
        overscroll-behavior-y: true,
        padding: true,
        padding-block: true,
        padding-block-end: true,
        padding-block-start: true,
        padding-bottom: true,
        padding-inline: true,
        padding-inline-end: true,
        padding-inline-start: true,
        padding-left: true,
        padding-right: true,
        padding-top: true,
        scroll-behavior: true,
        scroll-margin: true,
        scroll-margin-block: true,
        scroll-margin-block-end: true,
        scroll-margin-block-start: true,
        scroll-margin-bottom: true,
        scroll-margin-inline: true,
        scroll-margin-inline-end: true,
        scroll-margin-inline-start: true,
        scroll-margin-left: true,
        scroll-margin-right: true,
        scroll-margin-top: true,
        scroll-padding: true,
        scroll-padding-block: true,
        scroll-padding-block-end: true,
        scroll-padding-block-start: true,
        scroll-padding-bottom: true,
        scroll-padding-inline: true,
        scroll-padding-inline-end: true,
        scroll-padding-inline-start: true,
        scroll-padding-left: true,
        scroll-padding-right: true,
        scroll-padding-top: true,
        scroll-snap-align: true,
        scroll-snap-stop: true,
        scroll-snap-type: true,
        scroll-timeline: true,
        scroll-timeline-axis: true,
        scroll-timeline-name: true,
        width: true,
    ),
    pos: (
        bottom: true,
        left: true,
        perspective: true,
        perspective-origin: true,
        position: true,
        right: true,
        top: true,
        scale: true,
        transform: true,
        transform-box: true,
        transform-origin: true,
        transform-style: true,
        translate: true,
        z-index: true,
    ),
    txt: (
        column-count: true,
        column-fill: true,
        column-gap: true,
        column-rule: true,
        column-rule-color: true,
        column-rule-style: true,
        column-rule-width: true,
        column-span: true,
        column-width: true,
        columns: true,
        direction: true,
        font: true,
        font-family: true,
        font-feature-settings: true,
        font-kerning: true,
        font-language-override: true,
        font-optical-sizing: true,
        font-palette: true,
        font-size: true,
        font-size-adjust: true,
        font-stretch: true,
        font-style: true,
        font-synthesis: true,
        font-variant: true,
        font-variant-alternates: true,
        font-variant-caps: true,
        font-variant-east-asian: true,
        font-variant-emoji: true,
        font-variant-ligatures: true,
        font-variant-numeric: true,
        font-variant-position: true,
        font-variation-settings: true,
        font-weight: true,
        hyphenate-character: true,
        hyphenate-limit-chars: true,
        hyphens: true,
        letter-spacing: true,
        line-break: true,
        line-height: true,
        mask: true,
        mask-border: true,
        mask-border-mode: true,
        mask-border-outset: true,
        mask-border-repeat: true,
        mask-border-slice: true,
        mask-border-source: true,
        mask-border-width: true,
        mask-clip: true,
        mask-composite: true,
        mask-image: true,
        mask-mode: true,
        mask-origin: true,
        mask-position: true,
        mask-repeat: true,
        mask-size: true,
        mask-type: true,
        mix-blend-mode: true,
        text-align: true,
        text-align-last: true,
        text-combine-upright: true,
        text-decoration: true,
        text-decoration-color: true,
        text-decoration-line: true,
        text-decoration-skip: true,
        text-decoration-skip-ink: true,
        text-decoration-style: true,
        text-decoration-thickness: true,
        text-emphasis: true,
        text-emphasis-color: true,
        text-emphasis-position: true,
        text-emphasis-style: true,
        text-indent: true,
        text-justify: true,
        text-orientation: true,
        text-overflow: true,
        text-rendering: true,
        text-shadow: true,
        text-size-adjust: true,
        text-transform: true,
        text-underline-offset: true,
        text-underline-position: true,
        vertical-align: true,
        white-space: true,
        word-break: true,
        word-spacing: true,
        writing-mode: true,
        -moz-osx-font-smoothing: true,
        -webkit-font-smoothing: true,
        -webkit-appearance: true
    ),
    skin: (
        animation: true,
        animation-delay: true,
        animation-direction: true,
        animation-duration: true,
        animation-fill-mode: true,
        animation-iteration-count: true,
        animation-name: true,
        animation-play-state: true,
        animation-timing-function: true,
        appearance: truen-,
        backface-visibility: true,
        background: true,
        background-attachment: true,
        background-clip: true,
        background-color: true,
        background-image: true,
        background-origin: true,
        background-position: true,
        background-repeat: true,
        background-size: true,
        border: true,
        border-bottom: true,
        border-bottom-color: true,
        border-bottom-left-radius: true,
        border-bottom-right-radius: true,
        border-bottom-style: true,
        border-bottom-width: true,
        border-collapse: true,
        border-color: true,
        border-image: true,
        border-image-outset: true,
        border-image-repeat: true,
        border-image-slice: true,
        border-image-source: true,
        border-image-width: true,
        border-left: true,
        border-left-color: true,
        border-left-style: true,
        border-left-width: true,
        border-radius: true,
        border-right: true,
        border-right-color: true,
        border-right-style: true,
        border-right-width: true,
        border-spacing: true,
        border-style: true,
        border-top: true,
        border-top-color: true,
        border-top-left-radius: true,
        border-top-right-radius: true,
        border-top-style: true,
        border-top-width: true,
        border-width: true,
        box-shadow: true,
        caption-side: true,
        color: true,
        counter-increment: true,
        counter-reset: true,
        cursor: true,
        filter: true,
        list-style: true,
        list-style-image: true,
        list-style-position: true,
        list-style-type: true,
        offset: true,
        offset-anchor: true,
        offset-distance: true,
        offset-path: true,
        offset-position: true,
        offset-rotate: true,
        opacity: true,
        outline: true,
        outline-color: true,
        outline-offset: true,
        outline-style: true,
        outline-width: true,
        page-break-after: true,
        page-break-before: true,
        page-break-inside: true,
        pointer-events: true,
        print-color-adjust: true,
        quotes: true,
        resize: true,
        scrollbar-color: true,
        scrollbar-gutter: true,
        scrollbar-width: true,
        shape-image-threshold: true,
        shape-margin: true,
        shape-outside: true,
        tab-size: true,
        touch-action: true,
        transition: true,
        transition-delay: true,
        transition-duration: true,
        transition-property: true,
        transition-timing-function: true,
        user-select: true,
    )
);
